Repository KimSoungRyoul/aerospike-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, cargo-fmt, cargo-clippy

pyright:
  name: pyright type check
  entry: uv run pyright
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path rust/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path rust/Cargo.toml --features otel -- -D warnings
  language: system
  pass_filenames: false

ci: add benchmark workflow for performance regression tracking (#199)
  .github/workflows/benchmark.yaml
Due: none

ci: remove benchmark workflow from GitHub Actions
  .github/workflows/benchmark.yaml
Due: none

fix: correct bit_operations test op codes and Rust formatting
  rust/src/operations.rs
  tests/unit/test_bit_operations.py
Due: pyright, cargo-fmt, cargo-clippy

fix(ci): checkout main branch in docs-version workflow
  .github/workflows/docs-version.yaml
Due: none

feat(ci): add workflow_dispatch trigger to docs-version workflow
  .github/workflows/docs-version.yaml
Due: none

feat(skills): unify 6 api-* skills into single aerospike-py skill
  .claude/skills/aerospike-py/SKILL.md
  .claude/skills/aerospike-py/reference/admin.md
  .claude/skills/aerospike-py/reference/client-config.md
  .claude/skills/aerospike-py/reference/constants.md
  .claude/skills/aerospike-py/reference/observability.md
  .claude/skills/aerospike-py/reference/read.md
  .claude/skills/aerospike-py/reference/types.md
  .claude/skills/aerospike-py/reference/write.md
  .claude/skills/api-admin-infra/SKILL.md
  .claude/skills/api-batch-operate/SKILL.md
  .claude/skills/api-cdt-operations/SKILL.md
  .claude/skills/api-client-crud/SKILL.md
  .claude/skills/api-query-expressions/SKILL.md
  .claude/skills/api-types-constants/SKILL.md
  .claude/skills/project-goals/SKILL.md
  .claude/skills/project-goals/reference/backlog.md
  .claude/skills/project-goals/reference/goal-1-rust-binding.md
  .claude/skills/project-goals/reference/goal-2-performance.md
  .claude/skills/project-goals/reference/goal-3-observability.md
  .claude/skills/project-goals/reference/goal-4-numpy.md
  .claude/skills/project-goals/reference/goal-5-type-safety.md
  CLAUDE.md
Due: none

fix(docs): correct 27 broken code examples across docs/skills/stubs
  .claude/skills/aerospike-py/reference/admin.md
  .claude/skills/aerospike-py/reference/read.md
  .claude/skills/aerospike-py/reference/write.md
  docs/docs/api/client.md
  docs/docs/guides/admin/error-handling.md
  docs/docs/guides/crud/numpy-batch-write.md
  docs/docs/guides/crud/read.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/admin/error-handling.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/crud/numpy-batch-write.md
  docs/versioned_docs/version-0.0.3/api/client.md
  docs/versioned_docs/version-0.0.3/guides/admin/error-handling.md
  docs/versioned_docs/version-0.0.3/guides/crud/numpy-batch-write.md
  docs/versioned_docs/version-0.0.3/guides/crud/read.md
Due: none

refactor(tests): remove duplicates, add docs example integration tests
  tests/integration/test_async_scenarios.py
  tests/integration/test_batch.py
  tests/integration/test_docs_examples.py
  tests/unit/test_edge_cases.py
  tests/unit/test_import.py
  tests/unit/test_numpy_conversion.py
Due: pyright

fix: address post-205 review issues
  pyproject.toml
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  uv.lock
Due: pyright

refactor(tox): merge fastapi/gunicorn envs into feasibility, fix all env
  pyproject.toml
Due: none

feat(ci): add gh-aw IssueOps + CommentOps workflows (#208)
  .github/ISSUE_TEMPLATE/agent_team_request.yml
  .github/workflows/agent-team.lock.yml
  .github/workflows/agent-team.md
  .github/workflows/claude.yml
  .github/workflows/issue-planner.lock.yml
  .github/workflows/issue-planner.md
Due: none

fix(ci): update model id from claude-opus-4 to claude-opus-4-6 in gh-aw workflows
  .github/workflows/agent-team.lock.yml
  .github/workflows/agent-team.md
  .github/workflows/issue-planner.lock.yml
  .github/workflows/issue-planner.md
  .gitignore
  .pre-commit-config.yaml
  Makefile
  examples/sample-fastapi/uv.lock
  pyproject.toml
  uv.lock
Due: none

feat(ci): issue-planner generates plan only, agent team used for implement only
  .github/workflows/issue-planner.lock.yml
  .github/workflows/issue-planner.md
Due: none

feat: add operation-level backpressure via Semaphore to prevent connection pool exhaustion
  rust/src/async_client.rs
  rust/src/backpressure.rs
  rust/src/client.rs
  rust/src/errors.rs
  rust/src/lib.rs
  rust/src/policy/client_policy.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/exception.py
  src/aerospike_py/exception.pyi
  src/aerospike_py/types.py
  tests/unit/test_backpressure.py
Due: pyright, cargo-fmt, cargo-clippy

fix(ci): add missing 'feasibility' tox environment
  pyproject.toml
Due: none

docs: add backpressure guide to client-config, performance-tuning, troubleshooting
  docs/docs/guides/config/client-config.md
  docs/docs/guides/config/performance-tuning.md
  docs/docs/guides/troubleshooting.md
Due: none

chore: update Makefile with full dev workflow targets
  Makefile
Due: none

chore: upgrade aerospike-core v2.0.0-alpha.9 → alpha.10 (CLIENT-4200)
  Cargo.lock
  rust/Cargo.toml
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_ops.rs
  uv.lock
Due: cargo-fmt, cargo-clippy

refactor: remove unused py param and make AsyncClient.get_node_names sync
  rust/src/async_client.rs
  rust/src/client.rs
  src/aerospike_py/__init__.pyi
Due: cargo-fmt, cargo-clippy

fix(ci): use 'agent' label as trigger guard instead of 'agent-team'
  .github/workflows/claude.yml
  .github/workflows/issue-planner.md
Due: none

refactor: remove duplicate aerospike-py skill, add ecosystem plugin guide
  .claude/skills/aerospike-py/SKILL.md
  .claude/skills/aerospike-py/reference/admin.md
  .claude/skills/aerospike-py/reference/client-config.md
  .claude/skills/aerospike-py/reference/constants.md
  .claude/skills/aerospike-py/reference/observability.md
  .claude/skills/aerospike-py/reference/read.md
  .claude/skills/aerospike-py/reference/types.md
  .claude/skills/aerospike-py/reference/write.md
  CLAUDE.md
  README.md
Due: none

feat(sample-fastapi): add production patterns — exception handler, backpressure, metrics, batch_write
  examples/sample-fastapi/app/config.py
  examples/sample-fastapi/app/exception_handlers.py
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/app/models.py
  examples/sample-fastapi/app/routers/cluster.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/app/routers/users.py
  examples/sample-fastapi/tests/test_exception_handlers.py
  examples/sample-fastapi/tests/test_health.py
  examples/sample-fastapi/tests/test_numpy_batch.py
  examples/sample-fastapi/tests/test_users.py
  examples/sample-fastapi/uv.lock
  src/aerospike_py/_async_client.py
Due: pyright

fix(sample-fastapi): address code review round 2
  examples/sample-fastapi/app/exception_handlers.py
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/app/routers/users.py
  examples/sample-fastapi/tests/test_numpy_batch.py
Due: pyright

fix(sample-fastapi): correct backpressure config key and test cleanup
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/tests/test_observability.py
Due: pyright

fix(sample-fastapi): respect OTEL_SDK_DISABLED flag and validate key_field in batch_write
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/app/routers/numpy_batch.py
Due: pyright

fix(sample-fastapi): align OTEL_SDK_DISABLED check with Rust init_tracing behavior
  examples/sample-fastapi/app/main.py
Due: pyright

fix(sample-fastapi): address code review round 3
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/tests/test_numpy_batch.py
Due: pyright

feat(sample-fastapi): add observability controls and improve batch write response
  examples/sample-fastapi/app/models.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/app/routers/observability.py
  examples/sample-fastapi/tests/test_numpy_batch.py
  examples/sample-fastapi/tests/test_observability.py
Due: pyright

fix(sample-fastapi): address code review round 1
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/app/routers/observability.py
Due: pyright

fix(sample-fastapi): address code review round 3 — NaN guard, TOCTOU, cleanup
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/app/routers/users.py
  examples/sample-fastapi/tests/test_observability.py
Due: pyright

fix(sample-fastapi): address code review round 5 — fix NaN test, total_found semantics
  examples/sample-fastapi/app/models.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/tests/test_numpy_batch.py
Due: pyright

fix: code review improvements — observability, safety, and consistency
  examples/sample-fastapi/app/routers/indexes.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/app/routers/users.py
  examples/sample-fastapi/tests/conftest.py
  examples/sample-fastapi/tests/test_indexes.py
  examples/sample-fastapi/tests/test_numpy_batch.py
  examples/sample-fastapi/tests/test_users.py
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  src/aerospike_py/_observability.py
Due: pyright

fix: address code review round 1 — finally block, HTTP status, Korean translations
  examples/sample-fastapi/app/routers/users.py
  src/aerospike_py/_observability.py
  tests/integration/test_async_numpy_batch.py
  tests/integration/test_bugfix.py
  tests/integration/test_docs_examples.py
  tests/integration/test_numpy_batch.py
  tests/unit/test_context_manager.py
  tests/unit/test_metrics.py
  tests/unit/test_numpy_conversion.py
Due: pyright

fix: start_metrics_server preserves existing server on different-port bind failure
  src/aerospike_py/_observability.py
Due: pyright

fix: address code review round 3 — server_close(), same-port test, zombie warning
  src/aerospike_py/_observability.py
  tests/unit/test_metrics.py
Due: pyright

fix: add exception safety to stop_metrics_server shutdown sequence
  src/aerospike_py/_observability.py
Due: pyright

fix: prevent double-close and stale references in metrics server lifecycle
  src/aerospike_py/_observability.py
Due: pyright

fix: improve observability reliability and error diagnostics
  Cargo.lock
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/tests/test_health.py
  rust/Cargo.toml
  rust/src/async_client.rs
  rust/src/backpressure.rs
  rust/src/lib.rs
  rust/src/logging.rs
  rust/src/metrics.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/_observability.py
Due: pyright, cargo-fmt, cargo-clippy

fix: address code review round 1 — logging, metrics, health check
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/tests/test_health.py
  rust/src/logging.rs
  rust/src/metrics.rs
  src/aerospike_py/__init__.pyi
Due: pyright, cargo-fmt, cargo-clippy

fix: address code review round 2 — instance-level mock in health test
  examples/sample-fastapi/tests/test_health.py
Due: pyright

Path conditions:
  pyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
