Repository KimSoungRyoul/aerospike-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, cargo-fmt, cargo-clippy

pyright:
  name: pyright type check
  entry: uv run pyright
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path rust/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path rust/Cargo.toml --features otel -- -D warnings
  language: system
  pass_filenames: false

fix(ci): set git commit author to KimSoungRyoul in all agentic workflows
  .github/workflows/agent-implement.yml
  .github/workflows/issue-planner.yml
  .github/workflows/pr-reviewer.yml
Due: none

fix(ci): auto-fix MEDIUM severity issues in PR review loop
  .github/workflows/pr-reviewer.yml
Due: none

feat(client): add ping() health check method
  docs/docs/guides/config/client-config.md
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_ops.rs
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  tests/integration/test_health_check.py
  tests/unit/test_info.py
Due: pyright, cargo-fmt, cargo-clippy

docs: add description comments to all GitHub Actions workflows
  .github/workflows/ci.yaml
  .github/workflows/docs-publish.yaml
  .github/workflows/docs-version.yaml
  .github/workflows/docs.yaml
  .github/workflows/publish.yaml
Due: none

feat(retry): replace fixed backoff with Full Jitter exponential backoff (#250)
  rust/Cargo.toml
  rust/src/client_ops.rs
Due: cargo-fmt, cargo-clippy

feat(client): add lifecycle state machine to prevent connect() race conditions
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/runtime.rs
  tests/concurrency/test_connect_race.py
  tests/unit/test_client_lifecycle.py
Due: pyright, cargo-fmt, cargo-clippy

fix(review): prevent close() failure from leaving client stuck in CLOSING state
  rust/src/async_client.rs
  rust/src/client.rs
Due: cargo-fmt, cargo-clippy

chore(ci): extract hardcoded values to org-level variables
  .github/workflows/agent-implement.yml
  .github/workflows/issue-planner.yml
  .github/workflows/pr-reviewer.yml
Due: none

chore(ci): add daily release workflow
  .github/workflows/daily-release.yml
Due: none

feat(batch): expose in_doubt field on BatchRecord and add batch_write docs
  docs/docs/api/client.md
  docs/docs/guides/crud/write.md
  rust/src/batch_types.rs
  src/aerospike_py/_client.py
  src/aerospike_py/types.py
  tests/integration/test_batch.py
  tests/unit/test_batch_write_generic.py
Due: pyright, cargo-fmt, cargo-clippy

fix(ci): cast timeout-minutes var to number via fromJSON
  .github/workflows/pr-reviewer.yml
Due: none

fix(docs): complete batch_write retry example in error-handling guide
  docs/docs/guides/admin/error-handling.md
Due: none

fix: post-merge review fixes for batch_write (#259, #260) (#261)
  docs/docs/api/types.md
  docs/docs/guides/admin/error-handling.md
  docs/docs/guides/crud/write.md
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  tests/integration/test_async.py
  tests/integration/test_batch.py
  tests/unit/test_batch_write_generic.py
Due: pyright

fix: eliminate GIL contention on Tokio workers in async batch operations (#263)
  rust/src/async_client.rs
  rust/src/batch_types.rs
Due: cargo-fmt, cargo-clippy

fix: address review findings for BatchReadHandle
  docs/docs/guides/admin/error-handling.md
  rust/src/batch_types.rs
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  tests/integration/test_async_numpy_batch.py
Due: pyright, cargo-fmt, cargo-clippy

docs: add aerospike-ce-ecosystem plugin install guide to docstrings
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
Due: pyright

chore: reduce dependabot noise with monthly interval and grouping (#273)
  .github/dependabot.yml
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
Due: pyright

fix: correct plugin install commands in docstrings
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
Due: pyright

fix: correct plugin install commands in docstrings (#274)
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
Due: pyright

feat!: return dict directly from batch_read() instead of BatchReadHandle
  docs/batch-read-handle-migration.md
  rust/src/batch_types.rs
  rust/src/client.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  src/aerospike_py/types.py
  tests/integration/test_async_numpy_batch.py
  tests/integration/test_batch.py
  tests/integration/test_batch_handle.py
  tests/integration/test_numpy_batch.py
  tests/unit/test_edge_cases.py
Due: pyright, cargo-fmt, cargo-clippy

fix(batch): apply TTL from policy and per-record meta in batch_write
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_common.rs
  rust/src/client_ops.rs
  rust/src/policy/batch_policy.rs
  rust/src/policy/write_policy.rs
  src/aerospike_py/__init__.pyi
  tests/integration/test_batch.py
  tests/unit/test_batch_write_generic.py
Due: pyright, cargo-fmt, cargo-clippy

fix: update remaining tests for batch_read dict return type
  tests/concurrency/test_async_concurrency.py
  tests/concurrency/test_thread_safety.py
  tests/feasibility/test_fastapi.py
  tests/integration/test_async_scenarios.py
  tests/integration/test_docs_examples.py
  tests/integration/test_expressions.py
  tests/integration/test_scenarios.py
Due: pyright

fix(review): optimize batch_write policy parsing and add TTL docs
  docs/docs/api/client.md
  docs/docs/guides/crud/write.md
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_common.rs
  rust/src/policy/batch_policy.rs
Due: cargo-fmt, cargo-clippy

test(batch): add TTL tests for special values, async, numpy, and edge cases
  tests/integration/test_async.py
  tests/integration/test_batch.py
  tests/integration/test_numpy_batch_edge_cases.py
  tests/unit/test_batch_write_generic.py
Due: pyright

perf(batch): avoid clone in retry merge and reuse retry_indices Vec
  rust/src/client_ops.rs
Due: cargo-fmt, cargo-clippy

style: apply ruff format to __init__.pyi
  src/aerospike_py/__init__.pyi
Due: none

fix(batch): apply TTL from policy and per-record meta in batch_write (#275)
  docs/docs/api/client.md
  docs/docs/guides/crud/write.md
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_common.rs
  rust/src/client_ops.rs
  rust/src/policy/batch_policy.rs
  rust/src/policy/write_policy.rs
  src/aerospike_py/__init__.pyi
  tests/integration/test_async.py
  tests/integration/test_batch.py
  tests/integration/test_numpy_batch_edge_cases.py
  tests/unit/test_batch_write_generic.py
Due: pyright, cargo-fmt, cargo-clippy

perf(batch): cache ops Vec for retry reuse and add elapsed time guard
  rust/src/client_ops.rs
  src/aerospike_py/__init__.pyi
Due: cargo-fmt, cargo-clippy

fix(example): update batch_read route for v0.4.0 dict return type
  examples/sample-fastapi/app/routers/batch.py
Due: pyright

docs: update code stats with layer breakdown and DB client comparison
  README.md
Due: none

fix(batch): add gen support, remove deep clone, improve docs and tests (#278)
  README.md
  examples/sample-fastapi/app/routers/batch.py
  rust/src/batch_types.rs
  rust/src/client_ops.rs
  rust/src/policy/batch_policy.rs
  src/aerospike_py/__init__.pyi
  tests/integration/test_async.py
  tests/integration/test_batch.py
Due: pyright, cargo-fmt, cargo-clippy

style: apply cargo fmt formatting
  rust/src/backpressure.rs
  rust/src/logging.rs
  rust/src/numpy_support.rs
  rust/src/query.rs
Due: cargo-fmt, cargo-clippy

fix(ci): trigger docs publish after freeze version
  .github/workflows/docs-version.yaml
Due: none

docs: rewrite Architecture guide for library users
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/architecture.md
Due: none

chore(docs): translate Korean documentation to English
  .claude/agents/pyo3-reviewer.md
  .claude/agents/sample-fastapi-qa.md
  .claude/agents/type-stub-sync.md
  .claude/skills/bench-compare/SKILL.md
  .claude/skills/new-api/SKILL.md
  .claude/skills/project-goals/SKILL.md
  .claude/skills/project-goals/reference/backlog.md
  .claude/skills/project-goals/reference/goal-1-rust-binding.md
  .claude/skills/project-goals/reference/goal-2-performance.md
  .claude/skills/project-goals/reference/goal-3-observability.md
  .claude/skills/project-goals/reference/goal-4-numpy.md
  .claude/skills/project-goals/reference/goal-5-type-safety.md
  .claude/skills/release-check/SKILL.md
  .claude/skills/run-tests/SKILL.md
  .claude/skills/test-sample-fastapi/SKILL.md
  .github/workflows/ci.yaml
  .github/workflows/daily-release.yml
  .github/workflows/docs-publish.yaml
  .github/workflows/docs-version.yaml
  .github/workflows/docs.yaml
  .github/workflows/pr-reviewer.yml
  .github/workflows/publish.yaml
  .github/workflows/skill-impact-notify.yml
  .tokeignore
  CLAUDE.md
  README.md
  debug.md
  docs/docusaurus.config.ts
  docs/scripts/update-version-config.mjs
  examples/sample-fastapi/README.md
  tokei.toml
Due: none

fix(docs): update README with correct URLs, stats, and remove stale sections
  README.md
Due: none

fix(docs): remove incorrect drop-in replacement claim and fix docs link
  README.md
Due: none

perf(batch): intern bin names in batch_to_dict_py to reduce GIL hold time (#281)
  rust/src/batch_types.rs
Due: cargo-fmt, cargo-clippy

ci(publish): build wheels for Python 3.14 and 3.14t (free-threaded)
  .github/workflows/publish.yaml
Due: none

ci(publish): build wheels for Python 3.14 and 3.14t (free-threaded) (#286)
  .github/workflows/publish.yaml
Due: none

Path conditions:
  pyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
