Repository KimSoungRyoul/aerospike-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pyright
        name: pyright type check
        entry: uv run pyright
        language: system
        types: [python]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path rust/Cargo.toml --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path rust/Cargo.toml --features otel -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

docs: enhance all 7 SKILL.md files with accurate references and guides
  .claude/skills/aerospike-py/SKILL.md
  .claude/skills/bench-compare/SKILL.md
  .claude/skills/new-api/SKILL.md
  .claude/skills/project-goals/SKILL.md
  .claude/skills/release-check/SKILL.md
  .claude/skills/run-tests/SKILL.md
  .claude/skills/test-sample-fastapi/SKILL.md
Due: none

docs: restructure and condense documentation for readability
  docs/docs/api/client.md
  docs/docs/api/constants.md
  docs/docs/api/exceptions.md
  docs/docs/api/query-scan.md
  docs/docs/api/types.md
  docs/docs/contributing.md
  docs/docs/getting-started.md
  docs/docs/guides/admin/admin.md
  docs/docs/guides/admin/error-handling.md
  docs/docs/guides/admin/udf.md
  docs/docs/guides/config/client-config.md
  docs/docs/guides/config/migration.md
  docs/docs/guides/config/performance-tuning.md
  docs/docs/guides/crud/cdt-list.md
  docs/docs/guides/crud/cdt-map.md
  docs/docs/guides/crud/crud.md
  docs/docs/guides/crud/numpy-batch.md
  docs/docs/guides/query-scan/expression-filters.md
  docs/docs/guides/query-scan/query-scan.md
  docs/docs/integrations/fastapi.md
  docs/docs/integrations/observability/logging.md
  docs/docs/integrations/observability/metrics.md
  docs/docs/integrations/observability/tracing.md
  docs/docs/performance/overview.md
  docs/sidebars.ts
Due: none

docs(rust): add doc comments to all public items and document unsafe Safety
  rust/src/batch_types.rs
  rust/src/constants.rs
  rust/src/errors.rs
  rust/src/expressions.rs
  rust/src/lib.rs
  rust/src/metrics.rs
  rust/src/operations.rs
  rust/src/policy/admin_policy.rs
  rust/src/policy/batch_policy.rs
  rust/src/policy/client_policy.rs
  rust/src/policy/query_policy.rs
  rust/src/policy/read_policy.rs
  rust/src/policy/write_policy.rs
  rust/src/query.rs
  rust/src/record_helpers.rs
  rust/src/runtime.rs
  rust/src/tracing.rs
  rust/src/types/bin.rs
  rust/src/types/host.rs
  rust/src/types/key.rs
  rust/src/types/mod.rs
  rust/src/types/record.rs
  rust/src/types/value.rs
Due: cargo-fmt, cargo-clippy

feat: add batch_write_numpy API and improve NumpyBatchRecords
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/numpy_support.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/numpy_batch.py
  tests/unit/test_numpy_batch.py
Due: pyright, cargo-fmt, cargo-clippy

docs: add batch_write_numpy usage guide and API reference
  docs/docs/api/client.md
  docs/docs/guides/crud/numpy-batch-write.md
Due: none

docs: split monolithic SKILL.md into 6 domain-specific skill files
  .claude/skills/aerospike-py/SKILL.md
  .claude/skills/api-admin-infra/SKILL.md
  .claude/skills/api-batch-operate/SKILL.md
  .claude/skills/api-cdt-operations/SKILL.md
  .claude/skills/api-client-crud/SKILL.md
  .claude/skills/api-query-expressions/SKILL.md
  .claude/skills/api-types-constants/SKILL.md
  CLAUDE.md
Due: none

refactor: extract shared helpers to reduce code duplication across Rust and Python
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_common.rs
  rust/src/policy/batch_policy.rs
  rust/src/policy/mod.rs
  rust/src/policy/query_policy.rs
  rust/src/policy/read_policy.rs
  rust/src/policy/write_policy.rs
  rust/src/record_helpers.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/list_operations.py
  src/aerospike_py/map_operations.py
  src/aerospike_py/predicates.py
Due: pyright, cargo-fmt, cargo-clippy

docs: restructure sidebar with sub-categories and fix broken links
  docs/docs/guides/crud/numpy-batch-write.md
  docs/docusaurus.config.ts
  docs/sidebars.ts
Due: none

fix: prevent table overflow into right-side TOC
  docs/src/css/custom.css
Due: none

fix: move AUTO-GENERATED comment after frontmatter in generate-api-docs
  docs/docs/api/client.md
  scripts/generate-api-docs.py
Due: pyright

docs: default API Reference sidebar to collapsed state
  docs/sidebars.ts
Due: none

Add tokei config and code stats to README
  .tokeignore
  README.md
  tokei.toml
Due: none

docs: split CRUD into Read/Write, merge List & Map CDT into Operations
  docs/docs/getting-started.md
  docs/docs/guides/crud/cdt-list.md
  docs/docs/guides/crud/cdt-map.md
  docs/docs/guides/crud/operations.md
  docs/docs/guides/crud/read.md
  docs/docs/guides/crud/write.md
  docs/docusaurus.config.ts
  docs/i18n/ko/docusaurus-plugin-content-docs/current/getting-started.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/crud/cdt-list.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/crud/cdt-map.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/crud/operations.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/crud/read.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/crud/write.md
  docs/i18n/ko/docusaurus-theme-classic/footer.json
  docs/sidebars.ts
  docs/static/llms-full.txt
  docs/static/llms.txt
Due: none

feat: add bug report logging for unexpected internal errors
  rust/src/batch_types.rs
  rust/src/bug_report.rs
  rust/src/errors.rs
  rust/src/expressions.rs
  rust/src/lib.rs
  rust/src/runtime.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/_bug_report.py
  tests/unit/test_bug_report.py
Due: pyright, cargo-fmt, cargo-clippy

docs: add documentation versioning infrastructure and tab-separate CDT operations
  Makefile
  docs/docs/guides/crud/operations.md
  docs/docusaurus.config.ts
  docs/i18n/ko/docusaurus-plugin-content-docs/current.json
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/crud/operations.md
  docs/scripts/create-version.sh
  docs/scripts/generate-agent-docs.mjs
  docs/static/llms-full.txt
Due: none

perf: reduce PyO3 binding CPU overhead with type conversion optimizations
  rust/src/async_client.rs
  rust/src/batch_types.rs
  rust/src/client.rs
  rust/src/client_common.rs
  rust/src/query.rs
  rust/src/record_helpers.rs
  rust/src/types/bin.rs
  rust/src/types/key.rs
  rust/src/types/record.rs
  rust/src/types/value.rs
Due: cargo-fmt, cargo-clippy

bench: enhance benchmark with percentage format, batch_write_numpy, and full operation coverage
  benchmark/bench_compare.py
  benchmark/report_generator.py
  docs/src/components/BenchmarkDashboard/constants.ts
Due: pyright

bench: enhance benchmark with percentage format and batch_write_numpy
  benchmark/bench_compare.py
  benchmark/report_generator.py
  docs/src/components/BenchmarkDashboard/constants.ts
Due: pyright

perf: reduce PyO3 binding CPU overhead with OTel fast-path and alloc optimizations
  benchmark/bench_compare.py
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/metrics.rs
  rust/src/runtime.rs
  rust/src/tracing.rs
Due: pyright, cargo-fmt, cargo-clippy

docs: add AEROSPIKE_RUNTIME_WORKERS env var documentation
  CLAUDE.md
  docs/docs/guides/config/performance-tuning.md
  docs/docs/performance/overview.md
Due: none

docs: add architecture comparison and optimization analysis notes
  async-architecture-comparison.md
  compare.html
  pyo3-optimization-summary.md
  pyo3-optimization-summary2.md
Due: none

fix: consistent error handling in write_bytes_to_buffer and add stacklevel comment
  rust/src/numpy_support.rs
  src/aerospike_py/predicates.py
Due: pyright, cargo-fmt, cargo-clippy

fix: resolve potential panics and improve code quality (#149)
  .tokeignore
  README.md
  rust/src/async_client.rs
  rust/src/metrics.rs
  rust/src/numpy_support.rs
  rust/src/policy/admin_policy.rs
  rust/src/policy/batch_policy.rs
  rust/src/policy/mod.rs
  rust/src/policy/query_policy.rs
  rust/src/policy/read_policy.rs
  rust/src/policy/write_policy.rs
  rust/src/record_helpers.rs
  rust/src/runtime.rs
  rust/src/tracing.rs
  rust/src/types/record.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/list_operations.py
  src/aerospike_py/map_operations.py
  src/aerospike_py/predicates.py
  tokei.toml
Due: pyright, cargo-fmt, cargo-clippy

bench: add process-level CPU measurement and ops/CPU-sec efficiency metric
  benchmark/bench_compare.py
  benchmark/report_generator.py
Due: pyright

style: fix import ordering for `resource` module (isort)
  benchmark/bench_compare.py
Due: pyright

bench: add process-level CPU measurement and ops/CPU-sec efficiency metric
  benchmark/bench_compare.py
Due: pyright

"Claude PR Assistant workflow"
  .github/workflows/claude.yml
Due: none

"Claude Code Review workflow"
  .github/workflows/claude-code-review.yml
Due: none

Add Claude Code GitHub Workflow (#152)
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
Due: none

improve: extract shared _build_op helper to _types.py (DRY)
  src/aerospike_py/_types.py
  src/aerospike_py/list_operations.py
  src/aerospike_py/map_operations.py
Due: pyright

improve: add panic=abort to release profile for FFI safety
  Cargo.toml
Due: none

improve: enhance Rust error handling in numpy_support and runtime
  rust/src/numpy_support.rs
  rust/src/runtime.rs
Due: cargo-fmt, cargo-clippy

improve: extract _LEVEL_MAP constant and add __all__ to submodules
  src/aerospike_py/__init__.py
  src/aerospike_py/_bug_report.py
  src/aerospike_py/_types.py
Due: pyright

improve: add parametrized and edge case unit tests
  tests/unit/test_context_manager.py
  tests/unit/test_edge_cases.py
  tests/unit/test_expressions.py
  tests/unit/test_import.py
  tests/unit/test_predicates.py
  tests/unit/test_put_validation.py
Due: pyright

improve: extract reusable setup-rust composite action in CI
  .github/actions/setup-rust/action.yaml
  .github/workflows/ci.yaml
Due: none
