Repository KimSoungRyoul/aerospike-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, cargo-fmt, cargo-clippy

pyright:
  name: pyright type check
  entry: uv run pyright
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path rust/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path rust/Cargo.toml --features otel -- -D warnings
  language: system
  pass_filenames: false

chore(claude): add PR-time performance hot-path review gate (#329)
  .claude/agents/perf-impact-reviewer.md
  .claude/hooks/pr-perf-gate.sh
  .claude/perf-hot-paths.txt
  .claude/settings.json
  .claude/skills/project-goals/SKILL.md
Due: none

feat(policy): expose BasePolicy.timeout_delay across read/write/batch/query
  rust/src/policy/batch_policy.rs
  rust/src/policy/query_policy.rs
  rust/src/policy/read_policy.rs
  rust/src/policy/write_policy.rs
  src/aerospike_py/types.py
Due: pyright, cargo-fmt, cargo-clippy

feat(types): add ScanPolicy TypedDict (Python surface only)
  docs/docs/api/types.md
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/unit/test_scan_policy.py
Due: pyright

chore(ci): add ACE plugins PR-time follow-up issue workflow
  .github/workflows/ace-plugins-pr-notify.yml
Due: none

docs: surface follow-up policy fields and batch_apply (#319, #320, #316, #317)
  docs/docs/api/client.md
  docs/docs/api/constants.md
  docs/docs/api/types.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/api/client.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/api/constants.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/api/types.md
  scripts/generate-api-docs.py
Due: pyright

feat(policy): expose BasePolicy.timeout_delay across read/write/batch/query (#332)
  rust/src/policy/batch_policy.rs
  rust/src/policy/query_policy.rs
  rust/src/policy/read_policy.rs
  rust/src/policy/write_policy.rs
  src/aerospike_py/types.py
Due: pyright, cargo-fmt, cargo-clippy

feat(policy): expose BatchPolicy.concurrency (Sequential/Parallel)
  rust/src/constants.rs
  rust/src/policy/batch_policy.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/integration/test_batch.py
Due: pyright, cargo-fmt, cargo-clippy

feat(policy): expose BatchPolicy.concurrency (Sequential/Parallel) (#331)
  rust/src/constants.rs
  rust/src/policy/batch_policy.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/integration/test_batch.py
Due: pyright, cargo-fmt, cargo-clippy

feat(types): add ScanPolicy TypedDict (Python surface only) (#333)
  docs/docs/api/types.md
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/unit/test_scan_policy.py
Due: pyright

feat(batch): add batch_apply() method and BatchUDFPolicy (#317)
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_common.rs
  rust/src/client_ops.rs
  rust/src/policy/batch_policy.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  src/aerospike_py/types.py
  tests/integration/test_async_udf.py
  tests/integration/test_udf.py
  tests/unit/test_batch_apply_types.py
Due: pyright, cargo-fmt, cargo-clippy

fix(types): drop unwired filter_expression from BatchUDFMeta
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
Due: pyright

feat(batch): add batch_apply() method and BatchUDFPolicy (#317) (#334)
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_common.rs
  rust/src/client_ops.rs
  rust/src/policy/batch_policy.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  src/aerospike_py/types.py
  tests/integration/test_async_udf.py
  tests/integration/test_udf.py
  tests/unit/test_batch_apply_types.py
Due: pyright, cargo-fmt, cargo-clippy

docs: surface follow-up policy fields and batch_apply (#319, #320, #316, #317) (#336)
  docs/docs/api/client.md
  docs/docs/api/constants.md
  docs/docs/api/types.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/api/client.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/api/constants.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/api/types.md
  scripts/generate-api-docs.py
Due: pyright

chore(ci): add ACE plugins PR-time follow-up issue workflow (#335)
  .github/workflows/ace-plugins-pr-notify.yml
Due: none

docs(readme): add Repository Automation section
  README.md
Due: none

docs(readme): add Repository Automation section (#337)
  README.md
Due: none

feat(exp): expose REGEX_* flag constants for regex_compare
  rust/src/constants.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/exp.py
  tests/integration/test_expressions.py
Due: pyright, cargo-fmt, cargo-clippy

test(exp): isolate PK regex scan tests with per-test set names
  tests/integration/test_expressions.py
Due: pyright

feat(exp): expose REGEX_* flag constants and document PK regex scan (#338)
  rust/src/constants.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/exp.py
  tests/integration/test_expressions.py
Due: pyright, cargo-fmt, cargo-clippy

test/docs(exp): PK regex scan edge cases and flags=0 default note
  src/aerospike_py/exp.py
  tests/integration/test_expressions.py
Due: pyright

test/docs(exp): PK regex scan edge cases and flags=0 default note (#340)
  src/aerospike_py/exp.py
  tests/integration/test_expressions.py
Due: pyright

ci(workflows): idempotently ensure tracking labels exist before issue create
  .github/workflows/ace-plugins-pr-notify.yml
  .github/workflows/skill-impact-notify.yml
Due: none

ci(workflows): idempotently ensure tracking labels exist before issue create (#341)
  .github/workflows/ace-plugins-pr-notify.yml
  .github/workflows/skill-impact-notify.yml
Due: none

refactor(ci): daily-release auto-bumps minor/patch only
  .github/workflows/daily-release.yml
Due: none

refactor(ci): daily-release auto-bumps minor/patch only (#342)
  .github/workflows/daily-release.yml
Due: none

Path conditions:
  pyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
