Repository KimSoungRyoul/aerospike-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, cargo-fmt, cargo-clippy

pyright:
  name: pyright type check
  entry: uv run pyright
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path rust/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path rust/Cargo.toml --features otel -- -D warnings
  language: system
  pass_filenames: false

improve: project-wide safety, DRY, config, and docs improvements (#153)
  CHANGELOG.md
  Cargo.toml
  compose.local.yaml
  compose.sample-fastapi.yaml
  pyproject.toml
  rust/src/async_client.rs
  rust/src/numpy_support.rs
  src/aerospike_py/_types.py
  src/aerospike_py/list_operations.py
  src/aerospike_py/map_operations.py
Due: pyright, cargo-fmt, cargo-clippy

docs: add Context7 chat widget to documentation site
  docs/docusaurus.config.ts
Due: none

improve: DRY refactoring, input validation, dev tooling, and docs improvements
  Makefile
  pyproject.toml
  rust/src/client_common.rs
  rust/src/types/bin.rs
  rust/src/types/key.rs
  src/aerospike_py/__init__.pyi
  tests/unit/test_edge_cases_extended.py
  tests/unit/test_import.py
  uv.lock
Due: pyright, cargo-fmt, cargo-clippy

improve: security hardening, error handling, packaging metadata, and dev tooling
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  SECURITY.md
  pyproject.toml
  rust/src/query.rs
  rust/src/types/host.rs
  tests/unit/test_edge_cases.py
  tests/unit/test_edge_cases_extended.py
Due: pyright, cargo-fmt, cargo-clippy

improve: security, error handling, packaging, and dev tooling improvements (#155)
  .github/PULL_REQUEST_TEMPLATE.md
  .gitignore
  CHANGELOG.md
  Makefile
  README.md
  SECURITY.md
  pyproject.toml
  rust/src/client_common.rs
  rust/src/query.rs
  rust/src/types/bin.rs
  rust/src/types/host.rs
  rust/src/types/key.rs
  src/aerospike_py/__init__.pyi
  tests/unit/test_edge_cases.py
  tests/unit/test_edge_cases_extended.py
  tests/unit/test_import.py
  uv.lock
Due: pyright, cargo-fmt, cargo-clippy

refactor(docs): reduce BenchmarkDashboard boilerplate and dead code
  docs/src/components/BenchmarkDashboard/LatencyThroughputPanel.tsx
  docs/src/components/BenchmarkDashboard/NumpyPanel.tsx
  docs/src/components/BenchmarkDashboard/OverviewPanel.tsx
  docs/src/components/BenchmarkDashboard/charts/ConcurrencyCharts.tsx
  docs/src/components/BenchmarkDashboard/charts/DataSizeCharts.tsx
  docs/src/components/BenchmarkDashboard/charts/FourClientBarChart.tsx
  docs/src/components/BenchmarkDashboard/charts/MemoryProfileChart.tsx
  docs/src/components/BenchmarkDashboard/charts/MixedWorkloadCharts.tsx
  docs/src/components/BenchmarkDashboard/charts/NumpyCharts.tsx
  docs/src/components/BenchmarkDashboard/charts/SpeedupSummaryChart.tsx
  docs/src/components/BenchmarkDashboard/constants.ts
  docs/src/components/BenchmarkDashboard/helpers.ts
  docs/src/components/BenchmarkDashboard/styles/Cards.module.css
  docs/src/components/BenchmarkDashboard/styles/Charts.module.css
  docs/src/components/BenchmarkDashboard/styles/Tables.module.css
Due: none

docs: update architecture diagrams to reflect GIL 1x optimization
  docs/src/components/ArchitectureComparison/index.tsx
Due: none

docs(i18n): remove old overview.md replaced by overview.mdx
  docs/docs/performance/overview.md
Due: none

fix: remove deprecated aliases from __all__ and update Cargo.lock
  Cargo.lock
  src/aerospike_py/exception.py
Due: pyright

docs: redesign site with Aerospike brand theme and improve homepage
  CLAUDE.md
  docs/docs/getting-started.md
  docs/docusaurus.config.ts
  docs/src/components/BenchmarkDashboard/constants.ts
  docs/src/components/BenchmarkDashboard/styles/Cards.module.css
  docs/src/components/BenchmarkDashboard/styles/Charts.module.css
  docs/src/components/BenchmarkDashboard/styles/HeroBanner.module.css
  docs/src/components/HomepageFeatures.module.css
  docs/src/components/HomepageFeatures.tsx
  docs/src/css/custom.css
  docs/src/pages/index.module.css
  docs/src/pages/index.tsx
  docs/static/img/favicon.svg
  docs/static/img/logo.svg
Due: none

fix: address PR review feedback on bytes key digest compatibility
  pyproject.toml
  rust/Cargo.toml
  rust/src/types/key.rs
  tests/compatibility/test_edge_case_data.py
Due: pyright, cargo-fmt, cargo-clippy

fix: enforce strict privilege ns/set type parsing
  rust/src/policy/admin_policy.rs
Due: cargo-fmt, cargo-clippy

fix: validate cluster_name type for tracing metadata
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_common.rs
Due: cargo-fmt, cargo-clippy

fix: clamp ttl conversion and reuse helper for numpy batch
  rust/src/numpy_support.rs
  rust/src/record_helpers.rs
Due: cargo-fmt, cargo-clippy

fix: validate float-to-uint numpy writes
  rust/src/numpy_support.rs
Due: cargo-fmt, cargo-clippy

fix: address review feedback on input validation
  rust/src/operations.rs
  rust/src/policy/admin_policy.rs
  rust/src/policy/write_policy.rs
  rust/src/query.rs
Due: cargo-fmt, cargo-clippy

refactor: improve project structure, type safety, testing, and docs
  docs/docs/guides/crud/numpy-guide.md
  docs/docs/guides/query-scan/expression-filters.md
  pyproject.toml
  rust/fuzz/Cargo.toml
  rust/fuzz/README.md
  rust/fuzz/fuzz_targets/fuzz_write_bytes.rs
  rust/fuzz/fuzz_targets/fuzz_write_float.rs
  rust/fuzz/fuzz_targets/fuzz_write_int.rs
  rust/src/numpy_support.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  src/aerospike_py/_observability.py
  src/aerospike_py/exp.pyi
  src/aerospike_py/numpy_batch.pyi
  tests/concurrency/conftest.py
  tests/concurrency/test_async_concurrency.py
  tests/concurrency/test_thread_safety.py
  tests/unit/test_context_manager.py
  tests/unit/test_property_based.py
  uv.lock
Due: pyright, cargo-fmt, cargo-clippy

refactor: improve project structure, type safety, testing, and docs (#180)
  docs/docs/guides/crud/numpy-guide.md
  docs/docs/guides/query-scan/expression-filters.md
  docs/src/components/ArchitectureComparison/index.tsx
  pyproject.toml
  rust/fuzz/Cargo.toml
  rust/fuzz/README.md
  rust/fuzz/fuzz_targets/fuzz_write_bytes.rs
  rust/fuzz/fuzz_targets/fuzz_write_float.rs
  rust/fuzz/fuzz_targets/fuzz_write_int.rs
  rust/src/numpy_support.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  src/aerospike_py/_observability.py
  src/aerospike_py/exp.pyi
  src/aerospike_py/numpy_batch.pyi
  tests/concurrency/conftest.py
  tests/concurrency/test_async_concurrency.py
  tests/concurrency/test_thread_safety.py
  tests/unit/test_context_manager.py
  tests/unit/test_property_based.py
  uv.lock
Due: pyright, cargo-fmt, cargo-clippy

fix(sample-fastapi): Podman 지원 및 테스트 불일치 수정 (#181)
  examples/sample-fastapi/app/routers/users.py
  examples/sample-fastapi/tests/conftest.py
  examples/sample-fastapi/tests/test_users.py
Due: pyright

chore(docs): llms.txt 생성 로직 및 관련 파일 전체 제거
  docs/package.json
  docs/scripts/generate-agent-docs.mjs
  docs/static/llms-full.txt
  docs/static/llms.txt
Due: none

ci: add security audit job and dependabot configuration
  .github/dependabot.yml
  .github/workflows/ci.yaml
Due: none

refactor(tests): clean up test code (Track 1-A, 1-B, 1-E)
  tests/__init__.py
  tests/integration/test_async.py
  tests/integration/test_crud.py
  tests/integration/test_scenarios.py
  tests/unit/test_context_manager.py
  tests/unit/test_edge_cases.py
  tests/unit/test_edge_cases_extended.py
  tests/unit/test_import.py
  tests/unit/test_info.py
  tests/unit/test_put_validation.py
  tests/unit/test_tracing.py
Due: pyright

ci: add benchmark workflow for performance regression tracking
  .github/workflows/benchmark.yaml
Due: none

test: expand concurrency tests from 23 to ~45 tests
  tests/concurrency/conftest.py
  tests/concurrency/test_async_concurrency.py
  tests/concurrency/test_freethreading.py
  tests/concurrency/test_thread_safety.py
Due: pyright

feat: add HyperLogLog CDT operation helpers
  rust/src/constants.rs
  rust/src/operations.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_types.py
  src/aerospike_py/hll_operations.py
  src/aerospike_py/hll_operations.pyi
  tests/unit/test_hll_operations.py
Due: pyright, cargo-fmt, cargo-clippy

fix: remove Windows from OS dropdown (unsupported platform)
  .github/ISSUE_TEMPLATE/bug_report.yml
Due: none

fix: separate docs workflow to avoid triggering all CI on docs changes
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
Due: none

fix: correct AsyncClient example and info_all comment
  docs/docs/guides/troubleshooting.md
Due: none

fix: correct action versions, pin server image, update-in-place comments
  .github/workflows/benchmark.yaml
Due: none

fix: update docstrings to reflect DUMMY_CONFIG usage
  tests/unit/test_edge_cases_extended.py
Due: pyright

refactor: extract client_ops.rs, OtelContext, unsafe lint (~1,200줄 중복 제거) (#187)
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_common.rs
  rust/src/client_ops.rs
  rust/src/lib.rs
  rust/src/numpy_support.rs
Due: cargo-fmt, cargo-clippy

docs: add architecture overview and troubleshooting guide (#188)
  docs/docs/guides/architecture.md
  docs/docs/guides/troubleshooting.md
  docs/sidebars.ts
Due: none

docs: add FAQ and API comparison guide
  docs/docs/faq.md
  docs/docs/guides/api-comparison.md
  docs/sidebars.ts
Due: none

fix: correct batch ops comparison table accuracy
  docs/docs/faq.md
  docs/docs/guides/api-comparison.md
Due: none

docs: add FAQ and API comparison guide (#192)
  docs/docs/faq.md
  docs/docs/guides/api-comparison.md
  docs/sidebars.ts
Due: none

test: expand concurrency tests (23 → 45 tests) (#189)
  tests/concurrency/conftest.py
  tests/concurrency/test_async_concurrency.py
  tests/concurrency/test_freethreading.py
  tests/concurrency/test_thread_safety.py
Due: pyright

feat: add HyperLogLog CDT operation helpers (#194)
  rust/src/constants.rs
  rust/src/operations.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_types.py
  src/aerospike_py/hll_operations.py
  src/aerospike_py/hll_operations.pyi
  tests/unit/test_hll_operations.py
Due: pyright, cargo-fmt, cargo-clippy

feat: add Bitwise CDT operation helpers
  rust/src/constants.rs
  rust/src/operations.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/bit_operations.py
  src/aerospike_py/bit_operations.pyi
  tests/unit/test_bit_operations.py
Due: pyright, cargo-fmt, cargo-clippy

feat: add Bitwise CDT operation helpers (#195)
  rust/src/constants.rs
  rust/src/operations.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_types.py
  src/aerospike_py/bit_operations.py
  src/aerospike_py/bit_operations.pyi
  tests/unit/test_bit_operations.py
Due: pyright, cargo-fmt, cargo-clippy

Path conditions:
  pyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
