Repository KimSoungRyoul/aerospike-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, cargo-fmt, cargo-clippy

.pre-commit-config.yaml:

repos:
  - repo: https://github.com/pre-commit/pre-commit-hooks
    rev: v5.0.0
    hooks:
      - id: trailing-whitespace
      - id: end-of-file-fixer
      - id: check-yaml
      - id: check-toml

  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.15.0
    hooks:
      - id: ruff
        args: [--fix]
      - id: ruff-format

  - repo: local
    hooks:
      - id: pyright
        name: pyright type check
        entry: uv run pyright
        language: system
        types: [python]
        pass_filenames: false

      - id: cargo-fmt
        name: cargo fmt
        entry: cargo fmt --manifest-path rust/Cargo.toml --
        language: system
        types: [rust]
        pass_filenames: false

      - id: cargo-clippy
        name: cargo clippy
        entry: cargo clippy --manifest-path rust/Cargo.toml --features otel -- -D warnings
        language: system
        types: [rust]
        pass_filenames: false

fix: implement acquire_named() method and add tests
  rust/src/backpressure.rs
Due: cargo-fmt, cargo-clippy

fix: convert remaining batch_read and batch_write_numpy to acquire_named()
  rust/src/async_client.rs
Due: cargo-fmt, cargo-clippy

fix: use PyO3 0.28 API — Python::initialize() + Python::attach()
  rust/src/backpressure.rs
Due: cargo-fmt, cargo-clippy

feat: add batch_write_numpy retry parameter for transient failure recovery
  examples/sample-fastapi/app/models.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_ops.rs
  rust/src/tracing.rs
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  tests/unit/test_batch_write_retry.py
Due: pyright, cargo-fmt, cargo-clippy

fix: add tokio macros feature for #[tokio::test] support
  Cargo.lock
  rust/Cargo.toml
Due: none

fix: improve acquire() doc comment to recommend acquire_named()
  rust/src/backpressure.rs
Due: cargo-fmt, cargo-clippy

fix: convert async Python test to sync to avoid thread-safety issue
  rust/src/backpressure.rs
Due: cargo-fmt, cargo-clippy

fix: compute RIPEMD-160 digest in numpy_to_records Key construction
  rust/src/numpy_support.rs
  tests/integration/test_docs_examples.py
Due: pyright, cargo-fmt, cargo-clippy

fix: restore original batch_write_numpy test assertions
  tests/integration/test_docs_examples.py
Due: pyright

fix: add batch_write retry, missing @catch_unexpected, and observability improvements
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/app/models.py
  examples/sample-fastapi/app/routers/observability.py
  examples/sample-fastapi/tests/test_health.py
  examples/sample-fastapi/tests/test_observability.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
Due: pyright

fix: code review round 1 — complete @catch_unexpected parity, fix metrics server shutdown order
  examples/sample-fastapi/app/routers/users.py
  src/aerospike_py/_client.py
  src/aerospike_py/_observability.py
Due: pyright

fix: remove erroneous await on sync get_node_names() in feasibility test
  tests/feasibility/test_fastapi.py
Due: pyright

fix: safe client access, add server_close to metrics server shutdown
  src/aerospike_py/_observability.py
Due: pyright

fix: complete sync Client @catch_unexpected coverage, fix observability imports
  examples/sample-fastapi/app/routers/observability.py
  src/aerospike_py/_client.py
Due: pyright

fix: make test cluster_name configurable via env var (#230)
  pyproject.toml
  tests/__init__.py
Due: pyright

fix: prevent backoff overflow, handle retry transport errors, validate keys
  examples/sample-fastapi/app/models.py
  rust/src/client_ops.rs
Due: pyright, cargo-fmt, cargo-clippy

feat(sample-fastapi): add production patterns — exception handler, backpressure, metrics, batch_write
  examples/sample-fastapi/app/config.py
  examples/sample-fastapi/app/exception_handlers.py
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/app/routers/cluster.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/app/routers/users.py
  examples/sample-fastapi/tests/test_exception_handlers.py
  examples/sample-fastapi/tests/test_health.py
  examples/sample-fastapi/tests/test_numpy_batch.py
  examples/sample-fastapi/tests/test_users.py
  examples/sample-fastapi/uv.lock
Due: pyright

fix(sample-fastapi): readiness probe returns 503 when unhealthy, fix test variable
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/tests/test_numpy_batch.py
Due: pyright

fix(sample-fastapi): address code review round 2
  examples/sample-fastapi/app/exception_handlers.py
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/app/routers/users.py
  examples/sample-fastapi/tests/test_numpy_batch.py
Due: pyright

fix(sample-fastapi): correct backpressure config key and test cleanup
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/tests/test_observability.py
Due: pyright

fix(sample-fastapi): align OTEL_SDK_DISABLED check with Rust init_tracing behavior
  examples/sample-fastapi/app/main.py
Due: pyright

fix(sample-fastapi): address code review round 3
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/tests/test_numpy_batch.py
Due: pyright

fix: sanitize error messages and use MRO-based exception mapping
  examples/sample-fastapi/app/exception_handlers.py
  examples/sample-fastapi/app/main.py
Due: pyright

fix: use default _key field instead of body.key_field in batch write validation
  examples/sample-fastapi/app/routers/numpy_batch.py
Due: pyright

feat: consolidated improvements from PRs #223-#229, #231
  examples/sample-fastapi/app/main.py
  examples/sample-fastapi/app/models.py
  examples/sample-fastapi/app/routers/indexes.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/app/routers/observability.py
  examples/sample-fastapi/app/routers/users.py
  examples/sample-fastapi/tests/conftest.py
  examples/sample-fastapi/tests/test_health.py
  examples/sample-fastapi/tests/test_indexes.py
  examples/sample-fastapi/tests/test_numpy_batch.py
  examples/sample-fastapi/tests/test_observability.py
  examples/sample-fastapi/tests/test_users.py
  rust/src/backpressure.rs
  rust/src/lib.rs
  rust/src/logging.rs
  rust/src/metrics.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_observability.py
  tests/feasibility/test_fastapi.py
  tests/integration/test_async_numpy_batch.py
  tests/integration/test_bugfix.py
  tests/integration/test_docs_examples.py
  tests/integration/test_numpy_batch.py
  tests/unit/test_context_manager.py
  tests/unit/test_metrics.py
  tests/unit/test_numpy_conversion.py
Due: pyright, cargo-fmt, cargo-clippy

fix: address code review findings — bugs, consistency, dead code
  examples/sample-fastapi/app/models.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/app/routers/observability.py
  examples/sample-fastapi/app/routers/users.py
  examples/sample-fastapi/tests/test_numpy_batch.py
  rust/src/backpressure.rs
  src/aerospike_py/_client.py
Due: pyright, cargo-fmt, cargo-clippy

fix: review round — stop_metrics_server finally cleanup, meta None warning, batch write docs
  examples/sample-fastapi/app/routers/numpy_batch.py
  examples/sample-fastapi/app/routers/users.py
  src/aerospike_py/_observability.py
Due: pyright

fix: preserve per-record result codes in batch operations, fix numpy key digest issues
  examples/sample-fastapi/app/routers/batch.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_ops.rs
  rust/src/numpy_support.rs
  rust/src/record_helpers.rs
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  src/aerospike_py/numpy_batch.py
  tests/feasibility/test_fastapi.py
  tests/integration/test_async.py
  tests/integration/test_batch.py
  tests/integration/test_docs_examples.py
  tests/integration/test_numpy_batch_edge_cases.py
Due: pyright, cargo-fmt, cargo-clippy

chore: remove unused imports in test_numpy_batch_edge_cases
  tests/integration/test_numpy_batch_edge_cases.py
Due: pyright

refactor: unify batch API return type to BatchRecords
  examples/sample-fastapi/app/routers/batch.py
  examples/sample-fastapi/app/routers/numpy_batch.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_async_client.py
  src/aerospike_py/_client.py
  tests/feasibility/test_fastapi.py
  tests/integration/test_async.py
  tests/integration/test_batch.py
  tests/integration/test_docs_examples.py
  tests/integration/test_numpy_batch_edge_cases.py
Due: pyright

docs: update batch API docs to reflect BatchRecords return type
  docs/docs/api/client.md
  docs/docs/api/types.md
  docs/docs/guides/crud/numpy-batch-write.md
  docs/docs/guides/crud/write.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/crud/numpy-batch-write.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/crud/write.md
Due: none

docs: fix client.md batch_operate/batch_remove returns description
  docs/docs/api/client.md
Due: none

fix(ci): upgrade gh-aw to v0.64.2 and use labeled-only trigger for issue-planner
  .github/workflows/agent-implement.lock.yml
  .github/workflows/issue-planner.lock.yml
  .github/workflows/issue-planner.md
  .github/workflows/pr-reviewer.lock.yml
Due: none

chore: remove legacy claude-code-action and gh-aw workflows
  .github/workflows/agent.lock.yml
  .github/workflows/agent.md
  .github/workflows/claude-code-review.yml
  .github/workflows/claude.yml
  .github/workflows/issue-planner.lock.yml
  .github/workflows/issue-planner.md
Due: none

fix(ci): patch lock files to support CLAUDE_CODE_OAUTH_TOKEN for Claude Max billing
  .github/workflows/agent-implement.lock.yml
  .github/workflows/issue-planner.lock.yml
  .github/workflows/pr-reviewer.lock.yml
Due: none

fix(ci): increase max-turns to 300 for all agentic workflows
  .github/workflows/agent-implement.yml
  .github/workflows/issue-planner.yml
  .github/workflows/pr-reviewer.yml
Due: none

fix(ci): use opus-4-6 model, effort high, and fix needs-review label target
  .github/workflows/agent-implement.yml
  .github/workflows/issue-planner.yml
  .github/workflows/pr-reviewer.yml
Due: none

fix(ci): use kimsoungryoul PAT for all GitHub operations in agentic workflows
  .github/workflows/agent-implement.yml
  .github/workflows/issue-planner.yml
  .github/workflows/pr-reviewer.yml
Due: none
