Repository KimSoungRyoul/aerospike-py: changes, and which pre-commit hooks are due for each by the changed paths.
All: pyright, cargo-fmt, cargo-clippy

pyright:
  name: pyright type check
  entry: uv run pyright
  language: system
  pass_filenames: false

cargo-fmt:
  name: cargo fmt
  entry: cargo fmt --manifest-path rust/Cargo.toml --
  language: system
  pass_filenames: false

cargo-clippy:
  name: cargo clippy
  entry: cargo clippy --manifest-path rust/Cargo.toml --features otel -- -D warnings
  language: system
  pass_filenames: false

fix(ci): grant workflow permissions to docs-version and security jobs
  .github/workflows/ci.yaml
  .github/workflows/docs-version.yaml
Due: none

revert: "perf(batch): intern bin names in batch_to_dict_py" (#281, #282) (#288)
  rust/src/batch_types.rs
Due: cargo-fmt, cargo-clippy

docs: add postmortem for v0.5.6 batch_to_dict_py regression
  POSTMORTEM-v0.5.6-batch-regression.md
Due: none

docs: add postmortem for v0.5.6 batch_to_dict_py regression (#289)
  POSTMORTEM-v0.5.6-batch-regression.md
Due: none

fix: update rand API usage for 0.10 compatibility
  Cargo.lock
  rust/src/client_ops.rs
Due: cargo-fmt, cargo-clippy

fix: remove trailing blank lines from performance docs
  docs/docs/performance/overview.mdx
  docs/i18n/ko/docusaurus-plugin-content-docs/current/performance/overview.mdx
  docs/versioned_docs/version-0.0.3/performance/overview.mdx
  docs/versioned_docs/version-0.0.4/performance/overview.mdx
  docs/versioned_docs/version-0.0.5/performance/overview.mdx
  docs/versioned_docs/version-0.1.0/performance/overview.mdx
  docs/versioned_docs/version-0.1.1/performance/overview.mdx
  docs/versioned_docs/version-0.1.2/performance/overview.mdx
  docs/versioned_docs/version-0.1.3/performance/overview.mdx
  docs/versioned_docs/version-0.1.4/performance/overview.mdx
  docs/versioned_docs/version-0.1.5/performance/overview.mdx
  docs/versioned_docs/version-0.2.0/performance/overview.mdx
  docs/versioned_docs/version-0.2.1/performance/overview.mdx
  docs/versioned_docs/version-0.2.2/performance/overview.mdx
  docs/versioned_docs/version-0.3.0/performance/overview.mdx
  docs/versioned_docs/version-0.3.1/performance/overview.mdx
  docs/versioned_docs/version-0.4.0/performance/overview.mdx
  docs/versioned_docs/version-0.5.0/performance/overview.mdx
  docs/versioned_docs/version-0.5.1/performance/overview.mdx
  docs/versioned_docs/version-0.5.2/performance/overview.mdx
  docs/versioned_docs/version-0.5.3/performance/overview.mdx
  docs/versioned_docs/version-0.5.4/performance/overview.mdx
  docs/versioned_docs/version-0.5.5/performance/overview.mdx
  docs/versioned_docs/version-0.5.6/performance/overview.mdx
  docs/versioned_docs/version-0.5.7/performance/overview.mdx
  docs/versioned_docs/version-0.5.9/performance/overview.mdx
Due: none

feat(observability): add internal stage profiling toggle with zero runtime cost when off
  docs/docs/integrations/observability/internal-stage-metrics.md
  docs/sidebars.ts
  rust/src/async_client.rs
  rust/src/batch_types.rs
  rust/src/lib.rs
  rust/src/metrics.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/_observability.py
  tests/unit/test_internal_stage_toggle.py
Due: pyright, cargo-fmt, cargo-clippy

docs(stubs): correct batch_write return-type docstrings
  src/aerospike_py/__init__.pyi
Due: none

fix(async): unify AsyncClient.close and __aexit__ via shared helper
  CHANGELOG.md
  rust/src/async_client.rs
  tests/concurrency/test_aexit_close_unification.py
Due: pyright, cargo-fmt, cargo-clippy

perf(batch): share one BatchWritePolicy via Arc across batch_write records
  CHANGELOG.md
  rust/src/async_client.rs
  rust/src/client.rs
  rust/src/client_common.rs
  rust/src/client_ops.rs
Due: cargo-fmt, cargo-clippy

docs: correct post-#291 CHANGELOG claim and fix async troubleshooting snippet
  CHANGELOG.md
  docs/docs/guides/troubleshooting.md
  rust/src/async_client.rs
Due: cargo-fmt, cargo-clippy

docs(benchmark): sanitize company-internal references from benchmark results
  benchmark/results/bottleneck-analysis.md
  benchmark/results/future-into-py-profiling.md
  benchmark/results/internal-stage-toggle-comparison.md
  benchmark/results/k6-runtime-client-comparison.md
  benchmark/results/merge-as-dict-test.md
  benchmark/results/pyo3-disable-reference-pool-test.md
  benchmark/results/python-3.14t-benchmark.md
  benchmark/results/run-in-executor-optimization.md
  benchmark/results/single-batch-read-optimization.md
Due: none

docs(benchmark): add README with final conclusions
  benchmark/README.md
Due: none

docs(benchmark): restructure README - conclusions up top, fix data errors
  benchmark/README.md
Due: none

fix(docs): point release fetcher and site config to new repo path (#300)
  docs/docusaurus.config.ts
  docs/scripts/fetch-releases.mjs
Due: none

fix(panic): wrap sync Client.apply with catch_panic_sync
  rust/src/client.rs
Due: cargo-fmt, cargo-clippy

style: ruff format on test_legacy_blobs.py
  tests/compatibility/test_legacy_blobs.py
Due: pyright

style: ruff isort fix on sample-fastapi test_exception_handlers.py
  examples/sample-fastapi/tests/test_exception_handlers.py
Due: pyright

feat(batch): expose all BatchWritePolicy fields in batch_write (#303)
  rust/src/policy/batch_policy.rs
  rust/src/policy/mod.rs
  rust/src/policy/write_policy.rs
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/compatibility/test_policy_combinations.py
  tests/integration/test_batch.py
Due: pyright, cargo-fmt, cargo-clippy

feat(batch): expose all BatchWritePolicy fields in batch_write (#303) (#304)
  rust/src/policy/batch_policy.rs
  rust/src/policy/mod.rs
  rust/src/policy/write_policy.rs
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/compatibility/test_policy_combinations.py
  tests/integration/test_batch.py
Due: pyright, cargo-fmt, cargo-clippy

chore(types): drop legacy expressions alias from policy TypedDicts (#308) (#311)
  src/aerospike_py/types.py
Due: pyright

feat(policy): surface read-path fields replica, read_mode_ap, read_touch_ttl_percent (#305, #309) (#312)
  rust/src/constants.rs
  rust/src/policy/batch_policy.rs
  rust/src/policy/mod.rs
  rust/src/policy/query_policy.rs
  rust/src/policy/read_policy.rs
  rust/src/policy/write_policy.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/compatibility/test_policy_combinations.py
  tests/integration/test_read_policy.py
Due: pyright, cargo-fmt, cargo-clippy

feat: surface QueryPolicy fields (expected_duration, replica, include_bin_data, partition_filter) (#306)
  rust/src/constants.rs
  rust/src/lib.rs
  rust/src/policy/mod.rs
  rust/src/policy/query_policy.rs
  rust/src/query.rs
  rust/src/types/mod.rs
  rust/src/types/partition_filter.rs
  src/aerospike_py/__init__.py
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/integration/test_query_scan.py
Due: pyright, cargo-fmt, cargo-clippy

chore(gitignore): ignore OS / Claude / hypothesis caches (#302)
  .gitignore
Due: none

docs: surface follow-up policy fields in API reference (#311–#314) (#321)
  .github/workflows/docs.yaml
  docs/docs/api/client.md
  docs/docs/api/constants.md
  docs/docs/api/types.md
Due: none

docs: fix QueryPolicy default and restore batch_remove sync/async tabs (post-#321)
  docs/docs/api/client.md
  docs/docs/api/types.md
Due: none

chore(rust): fix clippy::approx_constant, items_after_test_module, field_reassign_with_default
  rust/src/client_common.rs
  rust/src/errors.rs
  rust/src/numpy_support.rs
  rust/src/panic_safety.rs
  rust/src/policy/admin_policy.rs
  rust/src/policy/batch_policy.rs
Due: cargo-fmt, cargo-clippy

chore(makefile): address PR #323 review — align make lint with pre-commit
  Makefile
Due: none

docs: address PR #325 review — accurate wording, ko sync, host clarity
  README.md
  docs/docs/guides/config/performance-tuning.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/config/performance-tuning.md
Due: none

chore(rust): fix new clippy violations exposed by strict CI
  rust/src/client_ops.rs
  rust/src/policy/batch_policy.rs
Due: cargo-fmt, cargo-clippy

docs: SECURITY.md, performance-tuning concurrency guide, NumPy in README (#325)
  .github/workflows/ci.yaml
  README.md
  SECURITY.md
  docs/docs/guides/config/performance-tuning.md
  docs/i18n/ko/docusaurus-plugin-content-docs/current/guides/config/performance-tuning.md
Due: none

types: enrich .pyi stubs for policy constants and numpy batch (Goal #5) (#324)
  src/aerospike_py/__init__.pyi
  src/aerospike_py/numpy_batch.pyi
Due: none

ci: enforce cargo fmt + clippy via pre-commit and CI (Goal #2) (#323)
  .clippy.toml
  .pre-commit-config.yaml
  Makefile
  rust/src/client_common.rs
  rust/src/client_ops.rs
  rust/src/errors.rs
  rust/src/numpy_support.rs
  rust/src/panic_safety.rs
  rust/src/policy/admin_policy.rs
  rust/src/policy/batch_policy.rs
Due: cargo-fmt, cargo-clippy

feat(admin): accept canonical string privilege names in addition to int (#326)
  CHANGELOG.md
  docs/docs/api/constants.md
  docs/docs/guides/admin/admin.md
  rust/src/policy/admin_policy.rs
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/integration/test_admin.py
Due: pyright, cargo-fmt, cargo-clippy

docs: fix QueryPolicy default and restore batch_remove sync/async tabs (post-#321) (#322)
  docs/docs/api/client.md
  docs/docs/api/types.md
Due: none

docs: replace stale fork URLs (KimSoungRyoul) with canonical org
  docs/docs/contributing.md
  docs/docs/faq.md
  docs/docs/guides/troubleshooting.md
  docs/docs/integrations/fastapi.md
Due: none

feat(admin): accept canonical string privilege names in addition to int (#326) (#327)
  CHANGELOG.md
  docs/docs/api/constants.md
  docs/docs/guides/admin/admin.md
  rust/src/policy/admin_policy.rs
  src/aerospike_py/__init__.pyi
  src/aerospike_py/types.py
  tests/integration/test_admin.py
Due: pyright, cargo-fmt, cargo-clippy

docs: replace stale fork URLs (KimSoungRyoul) with canonical org (#328)
  docs/docs/contributing.md
  docs/docs/faq.md
  docs/docs/guides/troubleshooting.md
  docs/docs/integrations/fastapi.md
Due: none

chore(claude): add PR-time performance hot-path review gate
  .claude/agents/perf-impact-reviewer.md
  .claude/hooks/pr-perf-gate.sh
  .claude/perf-hot-paths.txt
  .claude/settings.json
  .claude/skills/project-goals/SKILL.md
Due: none

Path conditions:
  pyright: any of: \.py$
  cargo-fmt: any of: \.rs$
  cargo-clippy: any of: \.rs$
